@import "css/reset.css";
@import "css/NavBar.css";
@import "css/Homepage.css";

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    margin: auto;
    width: 90%;
    height: 50%;
}

.sidebar-container {
    background-color: #F0F0F0;
    height: 70%;
    width: 80%;
    margin-top: 25px;
    justify-self: center;
    border-radius: 6px;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 25px;
}

.Ingredient-Container {
    background-color: white;
    width: 100%;
    height: 100vh;
    margin-top: 25px;
    border-radius: 6px;
    justify-self: center;
}

.homepage-bottom{
    display: grid;
    background-color: white;
    width: 100%;
    height: 85%;
    border-radius: 6px;
    justify-self: center;
    grid-template-columns: 3fr 1fr;
}

.homepage-welcome{
    background-color: #F0F0F0;
    justify-self: center;
    border-radius: 6px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 7px;
}


.shadow {
    box-shadow: 5px 7px #DCDCDC;
    border-radius: 6px;
}

.SearchBar {
    box-shadow: none;
    background: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    line-height: 20px;
    overflow: visible;
    -webkit-writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    appearance: textfield;
    background-color:  white;
    outline: none;
    box-sizing: border-box;
    border-radius: 6px;
}

.Ingredient-Container input {
    width:  50%;
    margin: 10px;
    box-shadow: 3px 3px #DCDCDC;
    border-radius: 6px;
}
.ingredient-search{
    grid-column: 1 / span 4;
    padding-bottom:  20px;
}
.Ingredient-Search-Container {
    background-color: inherit;
    width: 90%;
    height: 40%;
    max-height: 600px;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    /* grid-template-columns: 1fr ; */
    /* grid-template-rows: repeat(30, 1fr); */
    background-color: #F0F0F0;
    overflow-y: auto;
    padding-left: 20px;
    padding-top: 20px;
}

.Ingredient-Search-Container span{
    color: blue;
    cursor: pointer;
    margin-bottom: 2px;
    /* justify-self: center; */
}

.Ingredient-Search-Container span:hover{
    color: darkgrey;
    cursor: pointer;
}

.Added-Ingredient_container {
    background-color: inherit;
    width: 90%;
    height: 30%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    background-color: #F0F0F0;
    padding-left: 20px;
    padding-top: 20px;
}
.Added-Ingredient_top{
    padding-bottom: 5px;
    margin-bottom: 5px;
    grid-column: 1 / span 4;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.Added-Ingredient_container span {
    margin-top: 4px;
}

.Added-Ingredient-top__clear{
    margin-left: 50px;
}

.Added-Ingredient-top__mybar {
    margin-left: 50px;
}
.Added-Ingredient-top__mybar:hover {
    cursor: pointer;
    color: grey;
}

.Added-Ingredient-top__clear:hover{
    color: red;
    cursor: pointer;
}

.login-container {
    display: grid;
    width: 50vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
    overflow: hidden;
}

.login-img {
    justify-self: center;
    margin: auto;
}

.login-img img {
    height: 100px;
    width: 100px;
    margin: 30px;
    z-index: -1;
}

.centered{
    margin: auto;
}

main {
    position: absolute;
    background-color: rgba(255,255,255,1);
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    padding: 50px;
}

.login-sidebar input {
        border: 0;
        border-bottom: 2px solid black;
        color: black;
        box-sizing: border-box;
        display: block;
        margin-bottom: 1.25em;
        outline: 0;
        padding: .25em .5em;
        width: 100%;
        background-color: rgba(255,255,255,0.9);
}

.login-sidebar button {
    background-color: rgba(255,255,255,0.9);
    padding: 0;
    border: black;
    background: none;
    font-weight: 600;
    color: black;
    font-size: 14px;
    margin-left: 7px;
    cursor: pointer;
    margin-bottom: 10px !important;
}

.centered{
    margin: auto !important;
}

.login-sidebar button:hover {
    color: grey;
    cursor: pointer;
}

.login-sidebar a {
    text-decoration: none;
    color: blue;
}

.login-sidebar a:hover {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}


.item-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.t {
    align-items: end !important;;
}
.item-container-name{
    justify-self: end !important;;
}

.added-item-name{
    display: flex;
    align-items: center;
}

.material-icons.MuiIcon-root.fas.fa-times:hover {
    color: red;
    cursor: pointer;
}

.CocktailCard-Container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    max-width: 1250px;
    height: 100%;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.CocktailCard-Container__left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    max-width: 950px !important;
    /* background-color: red; */
}

.CocktailCard-Container__right {
    width: 200px;
    height: 400px;
    margin-top: 15%;
    /* margin: auto; */
    border: 2px solid  #DCDCDC;
}

.CocktailCard-Container__right__inner {
    padding: 10%;
}

.tag-title {
    font-weight: 600;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}
.CocktailCard-Container__right__inner div {
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 2px;
    padding-top: 2px;
}

.clicked {
    background-color: #DCDCDC;
}

.tag-clear {
    float: right;
    cursor: pointer;
}

.tag-clear:hover {
    color: red;
    cursor: pointer;
}

.tag:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}
.all-cocktails__title{
    grid-column: 1 / span 2;
    font-weight: 600;
    font-size: 1.5em;
}

.all-cocktails__sort {
    grid-column: span 2;
}


.CocktailCard {
    display: grid;
    width: 200px;
    height: 250px;
    margin-bottom: 15px;
    margin-right: 15px;
    grid-template-rows: 5fr 1fr;
    border-radius: 6px;
    box-shadow: 4px 5px #DCDCDC;
    border: 2px solid  #DCDCDC;
}
.CocktailCard:hover {
    background-color: #DCDCDC;
    box-shadow: 4px 4px black;
    cursor: pointer;
}

.CocktailCard img {
    justify-self: center;
    margin: auto;
}
.cocktail-name {
    font-weight: 600!important;
    justify-self: center;
}

.details-outside-container{
    display: grid;
    grid-template-rows: 5fr 2fr;
    height: 90vh;
}

.details-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 1fr;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1250px !important;
    max-height: 700px;
    height: 100%;
    justify-content: center;
}

.details-top {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-column: 0 / span 3;
    grid-row: 0 /span 1;
    margin: 20px;
}

.details-bottom {
    display: grid;
    grid-column: 0 / span 3;
    grid-row: 0 /span 1;
    grid-template-columns:  1fr 1fr;
}

.details-similar{
    display: grid;
    justify-self: center;
    grid-template-rows: 1fr 10fr;
    margin-top: 20px;
    max-width: 80%;
}

.cocktail-details-side{
    grid-column: 2 / span 1;
    grid-row: 0 / span 2;
    margin: 20px;
    border: 2px solid  #DCDCDC;
}

.details-similar h1 {
    font-weight: 600;
}
.detail-similar-cards {
    display: flex;
    margin: 10px;
    overflow-x: auto;
}

.details-top img {
    justify-self: center;
    margin: auto;
}

.details-top div {
    display: grid;
    grid-template-rows: 1fr 3fr;
    margin: auto;
    background-color: lightgray;
    padding: 5%;
    border-radius: 6px;
    box-shadow: 4px 4px black;
}

.details-recipe {
    background-color: lightgrey;
    height: 90%;
    width: 90%;
    margin: auto;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 4px 4px black;
}

.details-instruction {
    height: 90%;
    width: 90%;
    justify-self: right;
    margin: auto;
}

.pagination-container {
    grid-column: 1 / span 4;
}


.notfound-container {
    display: grid;
    margin: auto;
    justify-content: center;
    width: 80%;
    height: 90vh;
    grid-template-rows: 1fr 5fr;
    max-width: 900px;
}

.notfound-container div {
    display: grid;
    justify-self: center;
    margin: auto;
    width: 100%;
    height: 60%;
    background-color:  #F0F0F0;
    border-radius: 6px;
}
.notfound-container h1 {
    justify-content: center;
    margin: auto;
    font-weight: 600;
}


.all-cocktails__title{
    grid-column: 1 / span 2;
    font-weight: 600;
    font-size: 1.5em;
}

.all-cocktails__sort {
    grid-column: span 2;
}

.Cocktail-search-results-Container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-self: center;
    width: 80%;
    max-width: 1100px;
    margin-top: 25px;
}

.match-title {
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 5px;
    border-bottom: 1px solid black;
}

.match-result {
    margin-top: 2px;
    margin-bottom: 3px;
}

.match-result:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}

.loading{
    margin-left: 50%;
    margin-top: 10%;
}

.mybar-container {
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: 90vh;
    width: 80%;
    margin: auto;
}

.mybar-favorites {
    grid-row: 2;
    width: 100%;
    height: 100%;
    margin: 10px;
    overflow: hidden;
}

.mybar-favorites__inside {
    display: flex;
    overflow: hidden;
}

.mybar-ingredients-container {
    margin-top: 20px;
    display:grid !important;
    grid-template-columns: 1fr 1fr;
    height: 95%;
    width: 100%;
}

.mybar-ingredients__left{
    width: 95%;
    height: 100%;
    margin: auto;
    border: 2px solid #DCDCDC;
    padding-left: 15px;
    padding-top: 20px;
    max-height: 500px;
}
.mybar-ingredients__left h1 {
    font-weight: 600;
}
.mybar-ingredients__right {
    width: 95%;
    height: 100%;
    margin: auto;
    overflow-y: auto;
    display: grid;
    /* grid-template-rows: 1f; */
    /* background-color: red; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    font-size: 13px;
    border: 2px solid #DCDCDC;
    padding-left: 15px;
    padding-top: 20px;
    max-height: 500px;
}


.mybar-container input {
    width:  50%;
    /* margin: 10px; */
    box-shadow: 3px 3px #DCDCDC;
    border: 1px solid #DCDCDC;
    border-radius: 6px;
    grid-column: 0 / span 3;
}

.mybar-ingredients__right span {
    color: blue;
    cursor: pointer;
    margin-bottom: 2px;
}

.mybar-ingredients__right span:hover {
    color: darkgrey;
    cursor: pointer;
}
