.NavBar {
    height: 50px;
    background-color: #000000;
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
}
.logo {
    padding: 0 !important;
    margin-top: -12px !important;
    height: 100px!important;
}

.NavBar button {
    float: right;
    background-color: inherit;
    border: none;
    color: white;
    font-size: inherit;
    margin: 0;
    padding: 16px 10px;
}

.NavBar li {
    float: right;
    margin: auto;
}

.NavBar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 16px 10px;
    text-align: center;
}

li .active {
    background-color: grey;
}

.logo.active {
    background-color: inherit;
}

li a:hover {
    color: lightgray;
}

li button:hover {
    color: grey;
}

.NavBar-search {
    padding: 14px 10px;
}

.NavBar-search input:focus {
    width: 250px !important;
}


.footer {
    height: 40px;
    position: relative;
    margin-left: 40%;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: black;
    padding: 16px 8px;
    margin: auto;
}

.footer a:hover {
    color: gray;
}

.footer-inner {
    grid-column: 2;
    justify-content: center;
}

.footer span {
    margin-right: 8px;
    position: relative;
    top: -25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.github {
font-size: 35px;
margin-top: -3px;
}

.angels {
    font-size: 32px;
    margin-top: -4px;
}

.linkedin {
    font-size: 32px;
    margin-top: -3px;
}
