.NavBar {
    height: 50px;
    background-color: #000000;
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
}
.logo {
    padding: 0 !important;
    margin-top: -12px !important;
    height: 100px!important;
}

.NavBar button {
    float: right;
    background-color: inherit;
    border: none;
    color: white;
    font-size: inherit;
    margin: 0;
    padding: 16px 10px;
}

.NavBar li {
    float: right;
    margin: auto;
}

.NavBar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 16px 10px;
    text-align: center;
}

li .active {
    background-color: grey;
}

.logo.active {
    background-color: inherit;
}

li a:hover {
    color: lightgray;
}

li button:hover {
    color: grey;
}

.NavBar-search {
    padding: 14px 10px;
}

.NavBar-search input:focus {
    width: 250px !important;
}


.footer {
    height: 40px;
    background-color: #000000;
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
    color: white;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 16px 10px;
    margin: auto;
}

.footer-inner {
    grid-column: 2;
    justify-content: center;
}

.github {
font-size: 1.5em;
}

.angels {
    font-size: 1.5em;
}

.linkedin {
    font-size: 1.5em;
}
